body {
    color: white;
}

/* Contenedor general */
.rutinas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}

/* Contenedor de cada rutina */
.rutina {
    background-color: #333333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Elementos de cada rutina */
.rutina-item {
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Estilo responsivo */
@media (max-width: 740px) {
    .rutina-item {
        font-size: 14px;
    }
}


